<% layout('layout/boilerplate') -%>
<body>
  <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h3><%= listingShow.title %></h3>

        <div class="card-listing showCard">
          <img src="<%= listingShow.image.url %>" class="card-img-top show-img" alt="ShowImage">
          <div class="card-body">
            <p class="card-text">
              Owned By:&nbsp;<strong><%= listingShow.owner.username %></strong><br>
              <%= listingShow.description %><br>
              ₹<%= listingShow.price.toLocaleString("en-IN") %><br>
              <%= listingShow.location %><br>
              <%= listingShow.country %><br>
            </p>
          </div>
        </div>

        <% if(currUser&&listingShow.owner._id.equals(currUser._id)){ %>
        <div class="d-flex gap-3 mt-3">
          <a href="/listings/<%= listingShow._id %>/edit" class="btn btn-dark add-btn">Edit</a>
          <form action="/listings/<%= listingShow._id %>?_method=DELETE" method="POST">
            <button class="btn btn-dark">Delete</button>
          </form>
        </div>
        <% }%>

        <hr class="mt-4">

        <h4>Leave a Review</h4>
        <% if(currUser){ %>
        <form action="/listings/<%= listingShow._id %>/reviews" method="POST" novalidate class="needs-validation">
          <!-- <div class="mb-3 mt-3">
            <label for="rating" class="form-label">Rating</label>
            <input type="range" class="form-range" min="1" max="5" id="rating" name="review[rating]">
          </div> -->
          <div class="mb-3 mt-3">
            <label for="rating" class="form-label">Rating</label>
          <fieldset class="starability-slot">
            <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
            <input type="radio" id="first-rate1" name="review[rating]" value="1" />
            <label for="first-rate1" title="Terrible">1 star</label>
            <input type="radio" id="first-rate2" name="review[rating]" value="2" />
            <label for="first-rate2" title="Not good">2 stars</label>
            <input type="radio" id="first-rate3" name="review[rating]" value="3" />
            <label for="first-rate3" title="Average">3 stars</label>
            <input type="radio" id="first-rate4" name="review[rating]" value="4" />
            <label for="first-rate4" title="Very good">4 stars</label>
            <input type="radio" id="first-rate5" name="review[rating]" value="5" />
            <label for="first-rate5" title="Amazing">5 stars</label>
          </fieldset>
          </div>
          <div class="mb-3 mt-3">
            <label for="comment" class="form-label">Comments</label>
            <textarea name="review[comment]" id="comment" cols="30" rows="6" class="form-control" required></textarea>
            <div class="invalid-feedback">Please add some comment for review</div>
          </div>
          <button class="btn btn-outline-dark">Submit</button>
        </form>
<% } %>
        <hr class="mt-4">

        <p><b>All Reviews</b></p>
        <div class="row">
          <% for (review of listingShow.reviews) { %>
            <div class="card col-md-5 ms-5 mb-3">
              <div class="card-body mt-2">
                <h5 class="card-title"><%= review.author.username %></h5>
                <p class="card-text"><%= review.comment %></p>
                <p class="starability-result card-text" data-rating=<%= review.rating %>>        </p>
              </div>
              <form class="mb-3 mt-2" method="POST" action="/listings/<%= listingShow._id %>/reviews/<%= review._id %>?_method=DELETE">
                <button class="btn btn-sm btn-dark">Delete</button>
              </form>
            </div>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</body>
